<h1>Edit Item Info</h1>

<%= form_tag "/items/#{@item_id}", method: :patch do %>
  <%= label_tag 'Name' %>
  <%= text_field_tag 'name' %>

  <%= label_tag 'Price' %>
  <%= text_field_tag 'price' %>

  <%= label_tag 'Description' %>
  <%= text_field_tag 'description' %>

  <%= label_tag 'Image Address' %>
  <%= text_field_tag 'image' %>

  <%= label_tag 'Inventory Count' %>
  <%= number_field_tag 'inventory' %>

  <%= submit_tag 'Submit' %>
<% end %>
