<%= stylesheet_link_tag '/assests/stylesheets/item_index' %>
<header>
  <h1>All Items</h1>
</header>
<hr>
<% @items.each do |item| %>
  <hr>
  <section>
  <h3 style='one'><%= link_to "#{item.name}", "/items/#{item.id}" %></h3>
  <p style='two'>Description: <%= item.description %></p>
  <p style='three'>Price: <%= number_to_currency(item.price) %></p>
  <%= image_tag item.image, :class => 'four' %>
  <p style='five'>Active = <%= item.active_status.to_s.capitalize %></p>
  <p style='six'>Stock: <%= item.inventory %></p>
  <p style='seven'>Merchant: <%= item.merchant.name %> </p>
  </section>
  <hr>
<% end %>
