<%= stylesheet_link_tag '/assests/stylesheets/item_index' %>
<header>
  <h1>All Items</h1>
</header>
<hr>
<% @items.each do |item| %>
  <hr>
  <section>
  <h3 class='name'><%= link_to "#{item.name}", "/items/#{item.id}" %></h3>
  <p class='description'>Description: <%= item.description %></p>
  <p class='price'>Price: <%= number_to_currency(item.price) %></p>
  <%= image_tag item.image, :class => 'image' %>
  <p class='status'>Active = <%= item.active_status.to_s.capitalize %></p>
  <p class='stock'>Stock: <%= item.inventory %></p>
  <p class='merchant_name'>Merchant: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %> </p>
  </section>
  <hr>
<% end %>
