<h1>All Items</h1>
<hr>
<% @items.each do |item| %>
  <hr>
  <h3><%= link_to "#{item.name}", "/items/#{item.id}" %></h3>
  <p>Description: <%= item.description %></p>
  <p>Price: <%= number_to_currency(item.price) %></p>
  <img src="<%= item.image %>">
  <p>Active = <%= item.active_status.to_s.capitalize %></p>
  <p>Stock: <%= item.inventory %></p>
  <p>Merchant: <%= item.merchant.name %> </p>
  <hr>
<% end %>
