<%= stylesheet_link_tag '/assests/stylesheets/item_show' %>
<header>
<h1><%= @item.name %></h1>
</header>
<hr>
<section>
<p class='one'>Active = <%= @item.active_status.to_s.capitalize %></p>
<p class='two'>Price: <%= number_to_currency(@item.price) %></p>
<center><%= image_tag @item.image, :class => 'three' %></center>
<p class='four'>Description: <%= @item.description %></p>
<p class='five'>Stock: <%= @item.inventory %></p>
<p class='six'>Merchant: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}" %></p>
<p class='seven'><%= link_to 'Update Item', "/items/#{@item.id}/edit" %></p>
<p class='eight'><%= link_to 'Delete Item', "/items/#{@item.id}", method: :delete %></p>
</section>
